/* -----------------General styling------------------------ */

@font-face{
	font-family: galano;
	src: url("../fonts/Galano.otf");
}

@font-face{
	font-family: galano2;
	src: url("../fonts/Galano2.otf");
}



/* ------------- Layout Container styles -----------------*/

body{
	margin: 0 auto;
}

section{
	background: white;
	
}

.restrict{
	max-width: 1000px;
	margin: 0 auto;
}

.window{
	height: 100vh;
}

.multiholder{
	width: 80%;
	margin-left: 20%;
}
.col{
	display: block;
	width: 48%;
	float: left;
	margin: 1% 0% 5% 1%;
}

/*-------- Div styles --------*/

.blue{
	background-color: #a7e8ed;
}

.darkgrey{
	background-color: #676969;
}	

.center{
	position: relative;
	top: 25%;
	margin:auto;

} /*horizontal centering*/

.stripes{
	background: repeating-linear-gradient(
	to right,
	#a7e8ed,
	#a7e8ed 2px,
	#FFFFFF 2px,
	#FFFFFF 4px
	);
	background: webkit-repeating-linear-gradient(
	to right,
	#a7e8ed,
	#a7e8ed 2px,
	#FFFFFF 2px,
	#FFFFFF 4px
	);
}

.stripesdgh{
	background: linear-gradient(
	to bottom,
	#676969,
	#676969 2px,
	#FFFFFF 2px,
	#FFFFFF
	);
	background-size: 100% 4px;
}
.overlay{
	background-color: #E3E9E9;
}

.white{
	background-color: #FFFFFF;
}

/*------- type styles ------*/

.header{
	font-family: galano;
	font-size: 30pt;
	line-height: 30pt;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

.subhead{
	font-family: galano;
	font-size: 20pt;
	line-height: 22pt;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

.subhead2{
	font-family: galano;
	font-size: 16pt;
	line-height: 20pt;
	letter-spacing: 0.04em;
}

.subhead3{
	font-family: galano;
	font-size: 12pt;
	line-height: 14pt;
	letter-spacing: 0.04em;
}

.subhead4{
	font-family: galano;
	font-size: 10pt;
	line-height: 12pt;
	letter-spacing: 0.04em;
}


.bodieseverywhere{
	font-family: galano2;
	font-size: 15pt;
	line-height: 1.5em;
	letter-spacing: 0.08em;
}

.textplace1{
	position: relative;
	padding: 10%;
	
}

.title{
	text-align: center;
}


/*--------------------------------Header Styling-------------------------------*/

#parallax1{
	width: 100%;
	overflow: none;
}

#showstopping {
	margin: auto;

}
.bam{
	width: 120%;
	position: relative;
	margin-left: -10%;
	margin-top: 10%;

}

#titleone{
	color: #676969;
	width: 100%;
	text-align: center;
	margin: auto;
}

#transparency{
	opacity: 0.33;
}

/*--------------------------------------Description-----------------------------*/
#parallax2{
	width: 100%;
}

#whatwhy{
	margin-top: 1%;
}

#intro{
	color: #676969;
	text-align: left;
}

#middle{
	width: 100%;
	margin: auto;
	padding: none;
	position: relative;
	float: left;
}

#side1{
	width: 10%;
	height: 100%;
	position: absolute;
	margin-left: -5%;
	float: left;

	padding: none;
	overflow: hidden;
}

#whitebox1{
	width: 50%;
	height: 20%;
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	padding: none;
	z-index: 4;
}

#stripes1{
	width: 50%;
	height: 20%;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 3;
	float: left;
	padding: none;
}

#box1b{
	width: 100%;
	height: 80%;
	position: relative;
	left: 0px;
	top: 0px;
	opacity: 0.6;
	z-index: 2;
	padding: none;
}

#whitebox2{
	width: 50%;
	height: 20%;
	float: left;
	position: relative;
	left: 0px;
	margin-top: 0px;
	padding: none;
	z-index: 4;
}

#stripes2{
	width: 50%;
	height: 20%;
	position: relative;
	left: 0px;
	margin-top: 0px;
	z-index: 3;
	padding: none;
	float: left;
}


#side2{
	width: 10%;
	height: 100%;
	position: absolute;
	margin-top: auto;
	margin-left: 95%;
	overflow: none;
	padding: none;
	float: left;
}

#stripes3{
	width: 50%;
	height: 20%;
	position: relative;
	left: 0px;
	margin-top: 0px;
	z-index: 3;
	float: left;
}

#whitebox3{
	width: 50%;
	height: 20%;
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	padding: none;
	z-index: 4;
}

#box1c{
	width: 100%;
	height: 80%;
	position: relative;
	left: 0px;
	top: 0px;
	opacity: 0.6;
	z-index: 2;
}


#stripes4{
	width: 50%;
	height: 20%;
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	float: left;
	padding: none;
	z-index: 3;
}

#whitebox4{
	width: 50%;
	height: 20%;
	float: left;
	position: relative;
	margin-left: 0px;
	margin-top: 0px;
	padding: none;
	z-index: 4;
}


/*----------------------------------------Event info------------------------------*/
#parallax3{
	width: 100%;
	position: relative;
}

#title2{
	padding: 1%;
	text-transform: uppercase;
	color: #FFFFFF;
}

#whenwhere{
	margin: auto;
		background-color: #676969;
	overflow: hidden;
	height: 500px;
}

.details1{
	text-align: left;
	color: #FFFFFF;
}

#stripes5{
	width: 100%;
	height: 100px;
	position: relative;
	float: left;
	margin-top: 0;
	
}






/*-----------------------------Gallery-------------------------------*/
#parallax4{
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 10%;
}

/* title */

#waitwho{
	width: 100%;
	height: 50%;
	position: relative;
	float: left;
	margin: auto;
	margin-top: 0;
	margin-bottom: 0%;
}



#sidea{
	width: 25%;
	margin-left: 0;
	float: left;
	overflow: hidden;
}

#bar1{
	width: 30%;
	height: 30%;
	position: absolute;
	margin-left: 0px;
	top: 22%;
	float: left;
	z-index: 3;
	overflow: hidden;
}

#finestripes1{
	width: 10%;
	height: 100%;
	position: absolute;
	top: 0%;
	float: left;
	z-index: 4;
	overflow: hidden;
}


#sideb{
	width: 25%;
	float: left;
	margin-left: -5%;
	overflow: hidden;
}

#bar2{
	width: 30%;
	height: 30%;
	position: absolute;
	margin-left: 75%;
	top: 22%;
	float: left;
	z-index: 3;
	overflow: hidden;

}

#finestripes2{
	width: 10%;
	height: 100%;
	float: left;
	position: absolute;
	margin-left: 95%;
	top: 0%;
	z-index: 4;
	overflow: hidden;

}


.finestripes{
	background: repeating-linear-gradient(
	to right,
	transparent,
	transparent 2px,
	#FFFFFF 2px,
	#FFFFFF 4px
	);
	background: webkit-repeating-linear-gradient(
	to right,
	#transparent,
	transparent 2px,
	#FFFFFF 2px,
	#FFFFFF 4px
	);
}



#titlebox{
	width: 60%;
	height: 40%;
	background: #a7e8ed;
	z-index: 1;
	margin: auto;
	overflow: hidden;
}

#title3{
	color: #676969;
	height: 25%;
	text-align: center;
	padding: 5%;
	width: 45%;
	margin-left: 25%;
	float: left;
	z-index: 4;
	overflow: hidden;
}



#multiholder2{
	width: 100%;
	margin: auto;
	margin-bottom: 5%;

}



/* pictures */



#thosefaces {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 20%;
}

.wowthatfacethough {
	height: 300px;
	width: 48%;
	display: inline-block;
	float: left;
	background: none;
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
	overflow: hidden;
	
}

.portrait{
	height: 75%;
	overflow: hidden;
}

.woopwoop{
	width: 140%;
	position: relative;
	margin-top: -20%;	
	margin-left: -20%;
	
}

.detailsdetails{
	background: #a7e8ed;
	position: relative;
	z-index: 2;
	width: 100%;
	height: 300px;
	display: inline-block;
	
}

.name{
	font-family: galano2;
	color: #676969;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5em;	
}

/*-----------------------------------Map----------------------------------*/


#butwhere{
	width: 100%;
	position: relative;

}

#minilogo{
	min-width: 50%;
	max-width: 100%;
	margin-left: 0;
	
}

#butreallywhere{
	max-width: 40%;
	height: 100%;
	color: #676969;
}

#boxes{
	background: #E3E9E9;
	padding: 8% 8% 12% 12%;
	margin-left: 0px;
	color: #676969;
}

#mapswoo{
	width: 100%;
	height: 600px;
	position: relative;
	margin-left: 10%;
	margin-top: 5%;
	float: left;

}

/*-----------------------------------Responsive----------------------------------*/

@media screen and (max-width: 768px) {

.window{
}

.bodieseverywhere{
	font-family: galano2;
	font-size: 14pt;
	line-height: 1.5em;
	letter-spacing: 0.08em;
}

.header{
	font-size: 20pt;
}

.subhead{
	font-size: 16pt;
	line-height: 20pt;
}

.subhead2{
	font-size: 16pt;
	line-height: 18pt;
}

.subhead3{
	font-size: 16pt;
	line-height: 18pt;
}

.subhead4{
	font-size: 16pt;
	line-height: 18pt;
}

/*-------header-------*/

#parallax1{
	margin-bottom: -100%;
}

#titleone{
	width: 80%;
	text-align: center;
	margin: auto;
	margin-bottom: 10%;
}

/*-------description-----*/
#parallax2{
	margin-top: 10%;
	margin-bottom: %10;

}

/*-------event info------*/
#parallax3{
	margin-top: 10%;
	margin-bottom: 10%;
}

#whenwhere{
	height: 100%;
}

.multiholder{
	width: 100%;
	margin-left: 10%;
}
.col{
	display: block;
	width: 80%;
	margin: 1% 1% 1% 1%;
}


/*------gallery-------*/

#parallax4{
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 0;
}

#titlebox{
	width: 100%;
}

#sidea{
	display: none;
}

#sideb{
	display: none;
}

#title3{
	text-align: center;
	padding: 1%;
	width: 100%;
	margin-left: auto;
	z-index: 4;
	float: left;
}


.wowthatfacethough{
	width: 100%;
	height: 300px;
	margin-top: 5%;
	margin-bottom: 0;
}

.woopwoop{
	width: 140%;
	position: relative;
	margin-top: -20%;	
	margin-left: -20%;
	
}


/*-------map-------*/

#butreallywhere1{
	width: 100%;
}

#butreallywhere2{
	width: 100%;
}

#boxes{
	margin: 0 0 0 0;
}

#mapswoo{
	width: 100%;
	height: 400px;
	position: relative;
	margin-left: 0%;
	margin-top: 5%;

}


} /*----end @media----/


